---
title: Welcome to Middleman
---

= partial "partials/index/header"
= partial "partials/index/about"

/ gallery
= partial "partials/index/gallery/top"
= partial "partials/index/gallery/bottom"
= partial "partials/index/gallery/modals"
// gallery

= partial "partials/index/services"
= partial "partials/index/clients"
= partial "partials/index/contact"

= partial "partials/footer"
